@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
    font-family: 'Lato';
}

h2.subtitle {
    text-align: CENTER;
}

td.true{
    background-color: greenyellow;
}

td.false{
    background-color: hotpink;
}

thead.badgeInMembers {
    height: 90px;
}

th {
    white-space: nowrap;
}

th > div {
    transform: translate(16px,27px) rotate(315deg);
    width: 30px;
}

th > div > span {
    border-bottom: 1px solid black;
    padding: 5px 10px;
}

section.badgeOutPopUp{
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    border: 1px solid black;
    border-radius: 15px;
    margin: 4%;
    z-index: 1;
}

/*div.checkboxes div{
    display: flex;
    flex-direction: column;
}*/

button#submitBadgeOutPopup{
    float: right;
}

button#cancelPopupButton{
    float: left;
}

div section form div.field{
    display: flex;
    margin-bottom: 5px;
}

div section form div.field input, div#visitType select{
    position: absolute;
    left: 12ch;
}

h1#badgingOutTitle{
    text-align: center;
}

div#visitType{
    margin-bottom: 5px;
}

div.checkboxes p{
    margin-bottom: 5px;
}

button.addInfoAttn{
    background-color: yellow;
}

a#stock{
    color: black;
    background-color: lightpink;
    border: 1px solid black;
    padding: 4px;
    text-decoration: none;
    position: absolute;
    left: calc(100% - 48px - 5px);
    top: 4px;
}

a#stock:hover { background-color: palevioletred; }

a#stats{
    color: black;
    background-color: lightskyblue;
    border: 1px solid black;
    padding: 4px;
    text-decoration: none;
    position: absolute;
    left: 5px;
    top: 4px;
}

a#stats:hover { background-color: rgb(57, 166, 209); }


/* Start badge in popup CSS */
div#twohundred{
    background-color: green;
}

div#fourohsix, div#fourohfour{
    background-color:salmon;
}

div#twohundred, div#fourohsix, div#fourohfour{
    width: 75%;
    height: 25vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: solid black 2px;
    border-radius: 12px;
    position: fixed;
}

p.popupMsg{
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}
/* End badge in popup CSS */

div.badgeIn{
    display: flex;
    flex-direction: column;
    top: 5%;
    position: absolute;
    width: 100%;
}

div.arrow{
    display: flex;
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    transform: scale(5) rotate(35deg);
    margin: auto;
    top: 200px;
    position: relative;
}

div.arrow:before{
    content: "";
    flex: 1;
    margin: 0 5px;
    background: currentColor;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: arrow-bounce .5s infinite alternate;
}

@keyframes arrow-bounce {
    0%  {transform: scaleX(var(--s,1)) translate(-6px)}
    100%{transform: scaleX(var(--s,1)) translate( 6px)}
}

h1#pleaseBadgeIn{
    font-weight: 900;
    text-align: center;
    font-size: 5vw;
}

h2#pleaseBadgeIn{
    text-align: CENTER;
    margin-top: 0;
}

a#newMemberButton{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3.6vw;
    border: solid black;
    width: max-content;
    margin: auto;
    padding: 1.4vw;
    border-radius: 1vw;
    background: lightblue;
    color: mediumblue;
}

input#badgeInTextInput{
    border: none;
    outline: none;
    color: white;
}

div.form-container{
    text-align: center;
}

a#manualBadgeIn{
    position: absolute;
    top: 4px;
    left: 4px;
    border: solid black;
    padding: 4px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a#manualBadgeIn:hover{
    background-color:salmon;
}

div.left-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: -1px;
    position: relative;
}

div.field{
    display: flex;
}

div.formComponent div input#NameInput, div.formComponent select{
    left: 15px;
    position: relative;
}

div#formName, div#formRadios, div#formMajor, div#formGrad{
    display: inline-flex;
    justify-content: center;
}

form#newMember{
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 20px;
    position: relative;
}

#newMemberSubmit{
    width: 35%;
    margin: auto;
}


/* Start CSS for codeOfConduct */
main#codeOfConduct .header{
    text-align: center;
}

main#codeOfConduct p.header{ margin-bottom: calc(2.75vw + 18px); }

main#codeOfConduct p{ font-size: calc(1.1vw + 9px); }
main#codeOfConduct h1{ font-size: calc(1.6vw + 18px); }
main#codeOfConduct li{ font-size: calc(1vw + 8px); }

#iAgree{
    color: black;
    background-color: papayawhip;
    font-size: calc(1.2vw + 12px);
    border: calc(.1vw + 2px) solid black;
    border-radius: calc(.8vw + 4px);
    padding: calc(.4vw + 2px) calc(.6vw + 3px) ;
    width: calc(7ch + 1vw + 8px);
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin-top: calc(.8vw + 4px);
    position: absolute;
    left: 0;
    right: 0;    
}

#iAgree:hover{
    background-color: #fdd89b;
}
/* End CSS for codeOfConduct */