@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;700;900&display=swap');

* { font-family: 'Inter'; }

h2.subtitle { text-align: CENTER;}

thead.badgeInMembers {
    position: relative; 
}

.column{
    display: flex;
    flex-direction: column;
    gap: 2ch;
}

.statCard{
    background: #EBEBEB;
    width: 100%;
    aspect-ratio: 10/9;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.statCard h4{ 
    font-size: 1vw;
    text-align: center;
    margin: 0 auto 1ch auto;
}

.statCard h3{ 
    font-size: 1.75vw;
    margin: 1ch 0 0 0;
    font-weight: 700;
}

.statCard h2{
    text-align: center;
    font-size: 6vw;
    line-height: 0;
    margin: 0;
    font-weight: 500;
}

.progressBar{
    width: 80%;
    height: 32px;
    margin: auto;
    border: 4px solid black;
    border-radius: 8px;
    background-color: white;
    margin: 0 auto 24px auto;
}

.progress{
    background-color: violet;
    width: 20%;
    height: inherit;
    border-radius: 4px 0px 0px 4px;
}

#c1{ width: 55vw; }
#c2{ width: 20vw; }

td.checkbox{ 
    width: 24px;
    border: 3px solid black;
    border-radius: 8px;
    height: 24px;
}

th.rotated { transform: rotate(315deg); }
th.rotated div { 
    width: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

th { white-space: nowrap; }

section.Popup{
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 60%;
    border: 3px solid black;
    border-radius: 16px;
    z-index: 2;
    top: 10vh;
    left: 20vw;
    padding: 1ch 2ch;
}

section.Popup button{
    width: fit-content;
    border: 3px solid black;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    display: inline;
}

input#badgeInInput, input#badgeOutInput{ 
    width: 24ch;
    position: absolute;
    left: 14ch;
}

.enterInfoLabel{ 
    width: fit-content;
    position: relative;
}

.enterInfoLabelFixed{ 
    width: 24ch;
    width: fit-content;
    margin-bottom: 5px;
}

a#close-button::before{
    position: absolute;
    top: -30px;
    bottom: 0;
    right: 15px;
    content: "\2A2F";
    font-size: 100px; 
    color: #FFF;
}

section.fit{ 
    width: fit-content;
    min-width: 500px;
}

/* Start Question Mark Tooltip */
#VisitTypeQuestion{
    width: 1rem;
    height: 1rem;
    background-color: red;
}
/* End Question Mark Tooltip */

/* Start Tooltip CSS */
.tooltip{
    position: absolute;
    background:rgb(57, 166, 209);
    z-index: 1;
    width: max-content;
    transform: translateY(calc(-50% + .65rem)) translateX(10px);
}

.tooltip:before{ /* Use a pseudo-element to increase the "hit area" */
    content: "";
    height: 124%;
    width: 120%;
    position: absolute;
    transform: translate(-3%, -12%);
}

.tooltipArrow { /*Draw little arrow connecting tooltip*/
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgb(57, 166, 209);
    content: "";
    left: -35ch;
    position: absolute;
    top: calc(50% - 0.65rem);
}

span.tooltip div{ 
    width: 34ch; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 0;
}

p.tooltip_attribute{
    display: inline;
    float:left;
    padding: 0 4px;
    line-height: 1.5em;
    margin: 0;
}

span.tooltip div p:nth-child(1){ font-weight: 600; }

span.tooltip div p:nth-child(2){ float:right; }
/* End Tooltip CSS */

/* Start Search Results for Member Badge In CSS */
div.searchResultsDropdown{
    max-height: 11ch;
    border: 1px solid black;
    background: lightgray;
    overflow-y: scroll;
    width: max-content;
    position: relative;
    left: calc(50% - 1ch);
}
/* End Search Results for Member Badge In CSS */

/* Start Recent Activity */
table#recentActivity { 
    width: -webkit-fill-available; 
    text-align: left; 
    border-spacing: 0;
}

#dateSelection{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 18ch;
}

#dateSelection p{
    font-size: 18px;
}

/*section#recentActivity{ z-index: -1; }/*

section#recentActivity, section.fit{ width: 100%; }

tbody#recentActivityTbody tr:nth-child(odd) {
    background-color: aliceblue;
}

tbody#recentActivityTbody tr:nth-child(even) {
    background-color: mintcream;
}

/*tbody#recentActivityTbody tr{
    border-radius: 8px;
    outline: 1px solid black;
    outline-offset: -4px;
}*/

tbody#recentActivityTbody tr td {
    padding: .15em;
}

table#recentActivity td#noEvents, td.noMembersIn{
    width: 100%;
    text-align: center;
    font-size: 20px;
}

td.noMembersIn{ padding-top: 0.75em; }

div.inOutTime{
    display: flex;
    align-items: center;
    flex: 1;
    margin: .5ch;
}

div.inOutTime p { 
    margin: 0;
    flex: 1;
}
p.in_out{ justify-content: flex-start; }
p.inOutTime{ justify-content: center; }
p.am_pm{ justify-content: flex-end; }

p.in_out, p.am_pm{
    font-size: 12px;
}

/*a#activitiesForward:after,a#activitiesBackward:after { 
    font-size: 36px; 
    line-height: 0;
    top: 40px;
    position: relative;
    left: -10ch;
    content:'\1F846'
}
a#activitiesBackward:after{ 
    content:'\1F844';
    left: 10ch;
}*/

button#deleteActivityButton{
    top: 5px;
    position: absolute;
    right: 5px;
}

button#deleteActivityButton:after{
    content: '\1F5D1';
    font-size: 35px;
    color: black;
}
/* End Recent Activity */

/* Start NewMemberMsg PopUp CSS */
div#newMemberMsg{
    text-align: center;
    border: solid black 1px;
    border-radius: 20px;
    width: 80%;
    height: 75vh;
    top: 12.5%;
    left: 10%;
    position: absolute;
    background: white;
    display: none;
}

#newMemberMsg a,#newMemberMsg p{
    text-align: center;
}

#newMemberMsg a{
    background-color: rgb(109, 185, 109);
    border: solid black 2px;
    padding: 10px 16px;
    font-size: 24px;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
    left: 45%;
}

#newMemberMsg a:hover{
    background-color: rgb(0, 185, 0);
}

#newMemberMsg p {
    width: 80%;
    left: 10%;
    font-size: 22px;
    position: absolute;
}
/*End NewMemberMsg PopUp CSS*/

button#submitBadgeOutPopup{ float: right; }

button#cancelPopupButton{ float: left; }

div section form div.field{
    display: flex;
    margin-bottom: 5px;
}

div section form div.field input{
    /*Badged In, Badged Out input boxes in popup*/
    width: 24ch;
}

div section form div.field input, div#visitType select{
    position: absolute;
    left: 14ch;
}

input.date{
    position: absolute;
    left: 14ch;
}

input.time{
    position: absolute;
    left: 29ch;
}

h1#badgingOutTitle{ text-align: center; }

div#visitType, div#badgeInTime{ margin-bottom: 5px; }

div.checkboxes p{ margin-bottom: 5px; }

.addInfoCheckbox{
    display: flex;
    margin: auto;
    height: 1.8em;
    width: 36px;
}

button.addInfoAttn{ background-color: yellow; }

button.addInfo { 
    display: flex;
    margin: auto;
    background: none;
    border: none;
}

button.addInfo svg{
    width: 24px;
}

a#activitiesForward{ float: right; }

a#backEndButton{ background-color: #42e36d; }

a#backEndButton:hover{ background-color: #32a852; }

/* Start stats page*/
div#calendarChart, div#workshopPopularityPieChart{
    top: 37px;
    position: relative;
}

div.controlCalendarChart{
    top: 10px;
    position: relative;
}

div#selectStats h3, div#selectEventTypes h3 {
    display: inline-flex;
}

div#selectStats, div#selectEventTypes {
    justify-content: space-evenly;
    display: flex;
}

.controlCalendarChart p, .controlCalendarChart select,.controlMemberPieChart p, .controlMemberPieChart select{
    display: inline;
}

div.PieCharts{
    top: 19px;
    display: flex;
    position: relative;
}

div#workshopPopularityPieChart, div#memberPieChart, div.controlMemberPieChart{
    top: 0;
}

div.controlMemberPieChart{ 
    z-index: 1;
    transform: translate(50%);
}

div#memberPieChart, div.controlMemberPieChart{ position: absolute; }
/* End stats page */

/* Start badge in popup CSS */
div#FoundPopup{
    background-color: green;
}

div#NotFoundPopup, div#TooManyPopup{
    background-color:salmon;
}

div#FoundPopup, div#TooManyPopup, div#NotFoundPopup{
    width: 75%;
    height: 25vw;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: solid black 2px;
    border-radius: 12px;
    position: fixed;
}

.popupMsg{
    text-align: center;
    font-size: 3vw;
    font-weight: 700;
}

p.helpMsg{
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}
/* End badge in popup CSS */

div.badgeIn{
    display: flex;
    flex-direction: column;
    top: 5%;
    position: absolute;
    width: 100%;
}

div.arrow{
    display: flex;
    box-sizing: border-box;
    width: 70px;
    height: 30px;
    transform: scale(5) rotate(35deg);
    margin: auto;
    top: 200px;
    position: relative;
}

div.arrow:before{
    content: "";
    flex: 1;
    margin: 0 5px;
    background: currentColor;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: arrow-bounce .5s infinite alternate;
}

@keyframes arrow-bounce {
    0%  {transform: scaleX(var(--s,1)) translate(-6px)}
    100%{transform: scaleX(var(--s,1)) translate( 6px)}
}

h1#pleaseBadgeIn{
    font-weight: 900;
    text-align: center;
    font-size: 5vw;
}

h2#pleaseBadgeIn{
    text-align: CENTER;
    margin-top: 0;
}

a#newMemberButton{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 3.6vw;
    border: solid black;
    width: max-content;
    margin: auto;
    padding: 1.4vw;
    border-radius: 1vw;
    background: lightblue;
    color: mediumblue;
    text-decoration: none;
}

a#newMemberButton:hover{
    background: #93b7c3;
}

fieldset#machinesUtilized label, fieldset#otherToolsUtilized label{
    display: flex;
    flex-wrap: row;
    flex-basis: 50%;
}

div.equipment{
    display: flex;
    flex-direction: row;
}

input#badgeInTextInput{
    border: none;
    outline: none;
    color: white;
}

div.form-container{
    text-align: center;
}

a#manualBadgeIn{
    position: absolute;
    top: 4px;
    left: 4px;
    border: solid black;
    padding: 4px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a#manualBadgeIn:hover{
    background-color:salmon;
}

div.left-arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: -1px;
    position: relative;
}

div.field{
    display: flex;
}

div.formComponent div input#NameInput, div.formComponent select{
    left: 15px;
    position: relative;
}

input#NameInput{ position: sticky !important; }

div#formName, div#formRadios, div#formMajor, div#formGrad{
    display: inline-flex;
    justify-content: center;
}

form#newMember{
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 20px;
    position: relative;
}

#newMemberSubmit{
    width: 35%;
    margin: auto;
}


/* Start CSS for codeOfConduct */
#codeOfConduct .header{
    text-align: center;
}

#codeOfConduct p.header{ margin-bottom: calc(2.75vw + 18px); }

#codeOfConduct p{ font-size: calc(1.1vw + 9px); }
#codeOfConduct h1{ font-size: calc(1.6vw + 18px); }
#codeOfConduct li{ font-size: calc(1vw + 8px); }

#iAgree{
    color: black;
    background-color: papayawhip;
    font-size: calc(1.2vw + 12px);
    border: calc(.1vw + 2px) solid black;
    border-radius: calc(.8vw + 4px);
    padding: calc(.4vw + 2px) calc(.6vw + 3px) ;
    width: calc(7ch + 1vw + 8px);
    text-decoration: none;
    text-align: center;
    margin: auto;
    margin-top: calc(.8vw + 4px);
    position: absolute;
    left: 0;
    right: 0;    
}

#iAgree:hover{
    background-color: #fdd89b;
}
/* End CSS for codeOfConduct */


a.cornerButton, button.cornerButton {/* Navigation buttons in top corners */
    color: black;
    border: 1px solid black;
    padding: 4px;
    text-decoration: none;
    position: absolute;
    left: 5px;
    top: 4px;
}


h1#org_name{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

header#header{
    width: 80%;
    border-bottom: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    display: contents;
}

header svg{
    width: fit-content;
}

header#header svg {
    padding: 0px 12px;
}

header nav {
    float: right;
}

main {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    top: 2ch;
    position: relative;
    justify-content: space-between;
}

section {
    background: white;
    border-radius: 12px;
    /*filter: drop-shadow(-4px 6px 12px #00000025);*/
}

section header{
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    padding: 0ch 2ch;
}

section header h2{
    font-size: 18px;
    font-weight: 500;
}

section header div{
    /*flex: 1;*/
    display: flex;
}

button.badgeOut{
    display: contents;
}

.certChecbox div{
    aspect-ratio: 1;
    width: 2ch;
    border: 3px solid black;
    border-radius: 6px;
}

svg.icon{ width: 32px; }

div.certChecbox { 
    display: inline-flex;
    width: fit-content;
    gap: 2px;
}

div.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 6px;
    margin: auto 2ch;
    padding: 0ch 2ch;
    margin-bottom: 0.5ch;
}

div.name{ width: 30%; display: flex; }
div.major{ width: 20%; display: flex; }
div.badgeOut{ width: 32px; display: flex; }
div.certHeader{ width: 24px; margin: 0px 2px; }

div.rotated{
    display: inline-flex;
    flex-direction: row;
    position: relative;
}

.rotated p {
    transform: rotate(315deg);
    width: 10ch;
    white-space: nowrap;
    font-size: 1.25ch;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: start;
    margin: 0;
    top: -3ch;
    position: relative;
}

div#blur{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(1px);
}

section#config h3{
    text-align: center;
    font-size: 1vw;
    font-weight: 500;
}

section#config{
    height: 80vh;
    overflow-y: scroll;
}

button#x{
    border: none;
    padding: none;
    background: none;
}

button#x:hover path{
    fill: black;
}

div#pill{
    /*border: 2px solid black;*/
    border-radius: 12px;
    display: inline-flex;
    padding: .5ch 1ch;
    gap: 1ch;
    justify-content: center;
    background-color: #D9D9D9;
    color: #545454;
}

div#pill p{
    margin: auto;
}

div#certification-pills, div#otherTools-pills, div#patron-pills{
    gap: 1ch;
    display: flex;
    flex-wrap: wrap;
}

#confirmPopup{
    z-index: 3;
    background: white;
    height: fit-content;
    text-align: center;
    padding: 2ch 4ch;
    margin: auto;
    width: 35ch;
    position: fixed;
    top: 30vh;
    left: 0;
    right: 0;
    border: 2px solid black;
    border-radius: 12px;
}

svg.x{
    scale: 0.8;
    height: auto;
    display: block;
}

input#addPill{
    background: none;
    width: fit-content;
}

section#editMember select, section#editMember input{
    max-width: fit-content;
}

section#editMember h2#title{
    text-align: center;
}

section#editMember div#buttons{
    display: flex;
    justify-content: space-between;
}

input[type='checkbox']#checkbox:checked{
    background-color: violet;
}

input[type='checkbox']#checkbox{
    appearance: none;
    background-color: #fff;
    aspect-ratio: 1;
    height: 2ch;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 6px;
}

section#editMember div#certs{
    height: 95px;
    align-content: flex-end;
    flex-wrap: wrap;
    display: flex;
}

section#editMember label{
    display: flex;
    gap: 1ch;
}

textarea#majors{
    width: 98%;
    height: 5.5ch;
    resize: none;
}

/* Start custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 4px;
}
  
/*::-webkit-scrollbar-track {
    background: #f1f1f1; 
}*/

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* End custom scrollbar */